.table-view .column-header-background .label{
    -fx-text-fill: red;
    -fx-background-color: yellow
}

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=50Q0u0kwi++bu++hX++++rd++kX */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { -fx-background-color: #FFAB00 }	/* Main Primary color */
.color-primary-1 { -fx-background-color: #FFC754 }
.color-primary-2 { -fx-background-color: #FFB826 }
.color-primary-3 { -fx-background-color: #D79100 }
.color-primary-4 { -fx-background-color: #AD7400 }

.color-secondary-1-0 { -fx-background-color: #FFD500 }	/* Main Secondary color (1) */
.color-secondary-1-1 { -fx-background-color: #FFE254 }
.color-secondary-1-2 { -fx-background-color: #FFDB26 }
.color-secondary-1-3 { -fx-background-color: #D7B400 }
.color-secondary-1-4 { -fx-background-color: #AD9000 }

.color-secondary-2-0 { -fx-background-color: #FF7600 }	/* Main Secondary color (2) */
.color-secondary-2-1 { -fx-background-color: #FFA354 }
.color-secondary-2-2 { -fx-background-color: #FF8B26 }
.color-secondary-2-3 { -fx-background-color: #D76400 }
.color-secondary-2-4 { -fx-background-color: #AD5000 }

.color-complement-0 { -fx-background-color: #0F41BC }	/* Main Complement color */
.color-complement-1 { -fx-background-color: #4F71C6 }
.color-complement-2 { -fx-background-color: #2E58C0 }
.color-complement-3 { -fx-background-color: #0B3191 }
.color-complement-4 { -fx-background-color: #082774 }

.hintergrund{
	-fx-background-color: #A74000
}

.hintergrundTop{
	-fx-background-color: #FF9F00
}

.hintergrundBottom{
	-fx-background-color: #FFE254
}

.schriftLabel{
	-fx-text-fill: white;
	-fx-font-size: 24;
	-fx-font-weight: bold
	
}

.button{
	-fx-background-color: #0F41BC;
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-text-fill: #FFAB00
}

.hintergrundTop .list-cell:odd{   		/* Setzt alle ungeraden Zellen auf eine bestimmte Farbe (nur Listview) */
	-fx-background-color: blue;
	
}

.hintergrundTop .list-cell:even{                /* Setzt alle geraden Zellen auf eine bestimmte Farbe (nur Listview) */
	-fx-background-color: yellow;
	
}

.table-view .column-header-background .label{   /* Setzt die Spaltenhintergrundfarbe auf eine bestimmte Farbe (nur Tableview) */
    -fx-text-fill: red;
    -fx-background-color: yellow
}

.table-view .table-row-cell:odd{		/* Setzt alle ungeraden Zeilen auf eine bestimmte Farbe (nur Tableview) */
    -fx-background-color: red
}

.table-view .table-row-cell:even{		/* Setzt alle ungeraden Zeilen auf eine bestimmte Farbe (nur Tableview) */
    -fx-background-color: red
}

.table-view .table-row-cell:selected{		/* Setzt die aktuell ausgewählte Zeile auf eine bestimmte Farbe (nur Tableview) */
    -fx-background-color: blue
}

